.container  {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    color: rgb(18, 18, 18);
    width: 830px;
    padding-left: 125px;
}

#title  {
    font-size: 16px;
    
}
.time   {
    margin-bottom: 24px;
    margin-top: 16px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
    border-bottom-width: 0.8px;
    padding-bottom: 16px;
    color: rgb(18, 18, 18);
    font-size: 13px;
    ;
}
.time img   {
    width: 13px;
}
.time span  {
    margin-right: 8px;
    padding-right: 8px;
    border-right-style: solid;
    border-right-width: 0.8px;
    border-right-color: rgb(219, 219, 219);
}
.time a {
    color: rgb(0, 109, 54);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


