.container  {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    color: rgb(18, 18, 18);
    width: 830px;
    padding-left: 125px;
}

#title  {
    font-size: 16px;
    line-height: 36px;
}
.time   {
    margin-bottom: 24px;
    margin-top: 16px;
    border-bottom: 0.8px solid rgb(219, 219, 219);
    padding-bottom: 16px;
    color: rgb(18, 18, 18);
    font-size: 13px;
    ;
}
.time img   {
    width: 13px;
}
.time span  {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 0.8px solid  rgb(219, 219, 219);
}
.time a {
    color: rgb(0, 109, 54);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
figure  {
    margin: auto;
    display: table;
    
}
img.bigsize {
    width: 826.65px;
    height: 464.983px;
}
figcaption.description  {
    background-color: rgb(237, 237, 237);
    color: rgb(90, 90, 90);
    font-size: 13px;
    padding: 12px 16px 12px 16px;
    
    
    
}


