.container  {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    color: #121212;
    width: 830px;
    padding-left: 125px;
}

#title  {
    font-size: 16px;
    line-height: 36px;
}

.time   {
    margin-bottom: 24px;
    margin-top: 16px;
    border-bottom: 0.8px solid #DBDBDB;
    padding-bottom: 16px;
    color: #121212;
    font-size: 13px;
}

.time img   {
    width: 13px;
}

.time span  {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 0.8px solid #DBDBDB;
}

.time a {
    color: #006D36;
    text-decoration: none;
}

.time a:hover {
    text-decoration: underline;
}

figure  {
    margin: auto;
    display: table;
    margin-bottom: 20px;
}

img.bigsize {
    width: 826.65px;
    height: 464.983px;
}

figcaption.description  {
    background-color: #EDEDED;
    color: #5A5A5A;
    font-size: 13px;
    padding: 12px 16px 12px 16px;    
}

section p {
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 103.33px 0px 0px;
    padding-bottom: 30px;
    text-align: left;
    width: 723.333px;
}

section p.strong    {
    font-weight: 700;
    text-align: left;
    margin: 0px 103.33px 0px 0px;
}

ul  {
    color: #121212;
    list-style-type: square;
    margin: 0px 0px 20px 24px;
    padding: 0px;
    font-weight: 700;
    line-height: 20px;
   
  }
li  {
    color: #121212;
    font-size: 16px;
    padding-bottom: 15px;
}
ul a    {
    background-color: #ffffff;
    color: #121212;
    text-decoration: none;
    border-bottom: 1px solid #DBDBDB;
}
ul a:hover  {
    color: #255AA9;
}
footer  {
    padding-bottom: 20px;
}